@charset "utf-8";@viewport{width:device-width;}
/**
 * style.css
 *
 * 适用于整站的样式规则
 */

/* 调整Flat-UI样式 */
h1,h2,h3 {margin:0;font-weight:400;}
h1 {font-size:34px;}
h2 {font-size:28px;}
h3 {font-size:22px;}
.login {color:#111;background:none;padding:0;margin-bottom:0;}

html {height:100%;}
body {color:#3e3a39;background-color:#f6f6f6;font-size:26px;min-height:100%;}

th, td {text-align:center;}
td:first-child {text-align:left;}

ul>li>a {width:100%;height:100%;display:block;}

a {font-size:26px;color:#3e3a39;text-decoration:none;/* 清理BootStrap样式 */}
	a:hover {color:#999;}

#maincontainer {min-height:100%;padding:88px 0 104px;}
    #maincontainer p>a {color:#3e3a39;padding:0 .5rem;font-weight:transparent;}

#content {min-height:100%;padding:0 20px;}

/* 调整BootStrap样式 */
    .container, .container-fluid {width:100%;padding:0;/* 去掉BootStrap默认的左右内边距 */}
	p {font-size:26px;}
	ul,ol {margin-bottom:0;}
	.row {margin-left:0;margin-right:0;}
		.row>* {padding-left:0;padding-right:0;}
	.label {margin-right:1rem;}
		.label>a {color:#fff;}
	.panel-body {padding:15px 45px;}

	.alert-warning {text-align:center;}
	.btn {font-size:30px;height:80px;line-height:80px;padding:0;border-radius:12px;}
		.btn-primary {background-color:#ff3649;}
	.btn-group {border-radius:12px;margin:20px 0;}
		.btn-group .btn-default {color:#3e3a39;background-color:#fff;}

	.input-group[class*="col-"] {padding-left:15px;padding-right:15px;}

	#content .btn-group:first-of-type {}
		#content .btn-group:first-of-type * {color:#3e3a39;background-color:#fff;font-weight:bold;}
			#content .btn-group:first-of-type li {position:relative;}
			#content .btn-group:first-of-type .btn {line-height:80px;border-radius:0;padding:0;}
				#content>.btn-group:first-of-type .btn:first-child {border-top-left-radius:12px;border-bottom-left-radius:12px;}
				#content>.btn-group:first-of-type .btn:last-child {border-top-right-radius:12px;border-bottom-right-radius:12px;}
			#content .btn-group:first-of-type .btn-primary {color:#ff3649;}
				#content .btn-group:first-of-type .btn-primary:after {content:"";width:60%;border-bottom:4px solid #ff3649;position:absolute;bottom:0;left:20%;right:20%;}
			#content .btn-group:first-of-type .dropdown-menu {border-radius:12px;overflow:hidden;}
				#content .btn-group:first-of-type .dropdown-menu .btn {border-radius:0;}
				#content .btn-group:first-of-type .dropdown-menu .btn-primary {color:#fff;background-color:#ff3649;}
					#content .btn-group:first-of-type .dropdown-menu .btn-primary:after {content:none;}

/* 顶部导航栏 */
#header .navbar-collapse {background-color:#fff;position:fixed;left:0;right:0;top:88px;bottom:0;max-height:100%;}

#header .navbar-toggle {height:88px;line-height:88px;margin:-88px 20px 0 0;padding:0;}
	#header .navbar-toggle::before {display:none;}

	#header .navbar {padding:0;}
#header .navbar-nav>li {border-top:1px solid #e1e1e1;padding:0 20px;}
	#header .navbar-nav>li>a {font-size:26px;padding:0 20px;line-height:88px;}
#header .navbar-nav .dropdown.open .dropdown-menu {overflow:hidden;margin-top:-30px !important;padding:0 20px;}
#header .navbar-nav .dropdown-menu>li {margin-right:10px;display:inline-block;padding:30px 0;}
	#header .navbar-nav .dropdown-menu>li.divider {display:block;background-color:#e1e1e1;height:1px;margin:0;padding:0;}
#header .navbar-nav .open .dropdown-menu>li>a {color:#3e3a39;background-color:#e1e1e1;min-width:140px;height:50px;line-height:50px;border-radius:12px;padding:0 20px !important;text-align:center;display:table-cell;vertical-align:middle;}
						#header .dropdown-menu > li > a {border-radius:12px;}

form * {font-size:26px;line-height:1;}
form>.help-block {color:#ff3649;font-size:24px;text-align:center;height:84px;line-height:84px;margin:0;}
legend {font-size:36px;border-bottom:1px solid #efefef;padding-bottom:30px;text-align:center;}
fieldset {background-color:#fff;padding:30px 20px 0;border-radius:20px;}
label {margin-bottom:30px;}
.form-control {font-size:26px;color:#9fa0a0;padding:0 20px;border:2px solid #c9caca;border-radius:12px;}
	.form-control:not(textarea) {height:70px;}
.help-block {font-size:22px;color:#9fa0a0;margin-top:20px;}
.form-group {margin-bottom:50px;}

form.form-horizontal>.form-group {margin:20px 20px 0;} /* 表单提交按钮所在 */
form>.form-group>div {padding:0;}
form>.form-group button {margin-top:20px;}

noscript {color:#032f62;background-color:#dbedff;padding:16px;border:1px solid rgba(27,31,35,0.15);}

/* 主导航栏 */
#nav-main {text-align:center;background-color:#fff;height:98px;border-top:1px solid #e6e6e6;position:fixed;bottom:0;left:0;right:0;z-index:101;}
	#nav-main ul {height:100%;}
		#nav-main li {background:url('/media/nav-main/home@3x.png') no-repeat center 10px;background-size:44px 44px;width:25%;height:100%;display:inline-block;}
			#nav-main .home {background-image:url('/media/nav-main/home@3x.png');}
				#nav-main .home.active {background-image:url('/media/nav-main/home-active@3x.png');}
			#nav-main .order {background-image:url('/media/nav-main/order@3x.png');}
				#nav-main .order.active {background-image:url('/media/nav-main/order-active@3x.png');}
			#nav-main .item {background-image:url('/media/nav-main/item@3x.png');}
				#nav-main .item.active {background-image:url('/media/nav-main/item-active@3x.png');}
			#nav-main .mine {background-image:url('/media/nav-main/mine@3x.png');}
				#nav-main .mine.active {background-image:url('/media/nav-main/mine-active@3x.png');}

			#nav-main a {font-size:30px;color:#666464;width:100%;height:100%;line-height:1;padding:59px 0 12px;display:block;}
				#nav-main .active a {color:#ff3649;}

#breadcrumb {display:none;}

#header {background-color:#fff;border-bottom:1px solid #c9caca;}
	#header h1 {text-align:center;width:80%;height:88px;line-height:87px;margin:0 auto;overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;}
		#logo {font-size:34px;text-align:center;display:block;width:100%;height:100%;}
	#header i {font-size:40px;width:40px;height:40px;text-align:center;vertical-align:middle;}
	#return {position:absolute;top:24px;left:20px;}

#footer {text-align:center;display:none;}

#beta-reminder {text-align:center;font-size:smaller;}
	#beta-reminder>p {container:95%;margin:0 auto;}

/* 特定组件样式 */
/*修复因为body的padding-top:50px;引起的位置异常*/
.datepickers-container {top:-170px !important;left:-20px !important;}
	.datepickers-container * {font-size:32px;}
	.datepickers-container>.datepicker {width:710px;}
	.datepicker--nav {background-color:#e9eaf0;height:136px;padding:0 40px;}
	.datepicker--content {padding:0;}
		.datepicker--days.datepicker--body {padding:44px 40px;}
		.datepicker--content .datepicker--days-names {margin:0 0 40px;line-height:1;}
			.datepicker--days-names .datepicker--day-name {color:#91d9ff;font-size:28px;}
		.datepicker--cells-days .datepicker--cell-day {color:#4c5373;font-size:32px;width:76px;height:76px;line-height:76px;margin:0 14px 14px 0;border:1px solid #cdd0dd;text-align:center;display:inline-block;}
		.datepicker--cells-days .datepicker--cell-day:nth-of-type(7n+0) {margin-right:0;}
			.datepicker--cell.datepicker--cell-day.-disabled- {color:#f3f4f7;border-color:#f3f4f7;}
			.datepicker--cell.datepicker--cell-day.-current- {color:#fff;background-color:#ff3649;border-color:#ff3649;}
		.datepicker--time-current {margin-left:40px !important;}
		.datepicker--time-sliders {margin-right:40px !important;}
		.datepicker--time-current-hours, .datepicker--time-current-minutes {font-size:32px !important;}
		.datepicker--time-row {height:64px !important;}

#qrcode {background-color:#fff;padding:40px;border-radius:40px;}

.amap-logo {display:none;}

/* 宽度在750像素以上的设备 */
@media only screen and (min-width:751px)
{
	body {margin-bottom:0}

	#header h1 {width:205px;margin:0;}
	#return {display:none;}

	/* 顶部导航栏 */
	#header .navbar-collapse {position:relative;max-height:340px;top:0;margin-left:205px;}
	#header .navbar-nav>li {border-top:none;padding:0;}
	#header .navbar-nav .dropdown.open .dropdown-menu {margin-top:-15px !important;padding:0;}
		#header .navbar-nav .dropdown-menu>li {width:100%;margin-right:0;padding:0;overflow:hidden;}
		#header .navbar-nav .open .dropdown-menu>li>a {background-color:transparent;border-radius:0;padding:8px 16px;display:block;text-align:left;}
		#header .dropdown-menu>li>a {border-radius:0;}
	
	#breadcrumb {display:block;}

	#nav-main {display:none;}
	
	#footer {text-align:left;}

	#qrcode {padding:20px;border-radius:20px;}
}

/* 宽度在960像素以上的设备 */
@media only screen and (min-width:961px)
{
	.container {width:960px;}
}

/* 宽度在1280像素以上的设备 */
@media only screen and (min-width:1281px)
{
	.container {width:1280px;}
}