/**
 * trash.css
 *
 * 适用于列表页的样式规则
 */
@charset "utf-8";
@viewport{width:device-width;}

body {margin-bottom:104px;}

#content {min-height:670px;}

.action_bottom {background-color:#fff;position:fixed;left:0;right:0;bottom:0;height:84px;line-height:84px;overflow:hidden;z-index:101;}
    #bulk_action {}

        .action_bottom>span {padding:0 25px;line-height:84px;cursor:pointer;display:inline-block;}
            .action_bottom>span:first-child {padding:0 25px 0 20px;}
            .action_bottom i {font-size:40px;width:40px;line-height:84px;margin-right:20px;}

        .action_bottom>ul {float:right;height:100%;}
            .action_bottom li {height:100%;}
                .action_bottom button, .action_bottom a {color:#fff;font-size:28px;width:150px;height:100%;text-align:center;}

.color_primary a {color:#ff3649;border-color:#ff3649;}
.color_info a {color:#1a6eef;border-color:#1a6eef;}
.color_warning a {color:#ff843c;border-color:#ff843c;}

.bg_primary {background-color:#ff3649;}
.bg_second {background-color:#fa7541;}
.bg_third {background-color:#fba23d;}

.bg_info {background-color:#1a6eef;}
.bg_warning {background-color:#ff843c;}

#item-list>li {background-color:#fff;margin-top:20px;border-radius:12px;padding:20px 20px 0 20px;position:relative;}
    #item-list>li>p:first-child {margin-bottom:12px;}
    
.item-status {position:absolute;top:20px;right:20px;}

.item-actions {height:80px;line-height:80px;margin-top:20px;border-top:1px solid #c9caca;}

.item-actions>* {float:left;display:inline;}
.item-actions>span {width:40px;height:40px;}
.item-actions ul {float:right;}
    .item-actions li {margin-left:10px;padding:14px 0;}
        .item-actions a {color:#9fa0a0;text-align:center;width:130px;height:52px;line-height:52px;border:1px solid #9fa0a0;border-radius:26px;}

/* 宽度在750像素以上的设备 */
@media only screen and (min-width:751px)
{
    body {margin-bottom:0;}
}

/* 宽度在960像素以上的设备 */
@media only screen and (min-width:961px)
{

}

/* 宽度在1280像素以上的设备 */
@media only screen and (min-width:1281px)
{

}